.brand-t {
  margin-top: 2rem;
}

.rowcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: auto;
  background-color: #d3ae355e;
  width: 300px;
  height: auto;
  border: #282828 1px solid;
}
.card__image {
  max-width: 100%;
  height: auto;
}
.card__price {
  position: absolute;
  bottom: 8%;
  background-color: #f3f3f2;
  color: #282828;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  border: #282828 1px solid;
}
.card__description {
  position: absolute;
  bottom: 83%;
  left: 0;
  width: 100%;
  background-color: #d3ae355e;
  text-align: justify;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 10px;
  color: #f3f3f2;
}
.card__description2 {
  position: absolute;
  bottom: 83%;
  left: 0;
  width: 100%;
  background-color: #d3ae355e;
  text-align: justify;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 10px;
  color: #f3f3f2;
  left: 75%;
  background-color: transparent;
}
.card__btn {
  font-size: 1.6rem;
  background-color: #d3af35;
  color: #282828;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bolder;
}
